/*
*всплывающее окно меню-навигация
при нажатии на бургер 
*/
:root {
    --black-color: #222222;
    --pink-color: #F1E4E6;
    --white-color: #FBFBFB;
    --darkpink-color: #F16D7F;
    --gray-color: #6F6E6E;
}

.header__navigation--none {
    display: none;
}

.header__navigation--block {
    width: 232px;
    min-height: 765px;
    display: block;
    position: absolute;
    right: 0px;
    top: 75px;
    background-color: var(--white-color);
    z-index: 3;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}


.header__navigation-title {
    display: inline-block;
    text-transform: uppercase;
    margin: 37px 0 0 34px;
}

.header__navigation-item {
    margin: 24px 0 0 34px;
}

.navigation-item__link {
    color: var(--darkpink-color);
    text-transform: uppercase;
}

.navigation-item__sublist {
    font-size: 14px;
    line-height: 27px;
    padding-left: 22px;
    padding-top: 10px;
}

.navigation-item__sublist-link {
    color: var(--gray-color);
    line-height: 28px;
}

.header__navigation-button {
    border: none;
    background-color: var(--white-color);
    position: absolute;
    right: 11px;
    top: 16px;
}

/*
* Анимация при открытии меню
*/

.brand__wrapper-animtation:before {
    content: "";
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    z-index: 1;
}

/*
* Анимация карточек товаров
*/

.products__item-button {
    position: absolute;
    top: 36%;
    left: 50%;
    border: 2px solid var(--white-color);
    transform: translate(-50%, -50%);
    background-color: none;
    width: 138px;
    height: 43px;
    color: var(--white-color);
    padding-left: 42px;
    font-size: 14px;
    line-height: 17px;
    background-image: none;
    background: transparent;
    background-color: transparent;
    display: none;
}

.products__item:hover .products__item-button {
    display: block;
}

.products__item-button:before {
    content: url(../imgs/add-cart.svg);
    position: absolute;
    left: 13px;
    top: 7px;
}

.products__item-img--wrapper:before {
    content: "";
    width: 100%;
    min-height: 420px;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
}

.products__item-img--wrapper:before {
    display: none;
}

.products__item:hover .products__item-img--wrapper:before {
    display: block;
}