:root {
    --black-color: #222222;
    --pink-color: #f1e4e6;
    --white-color: #fbfbfb;
    --darkpink-color: #f16d7f;
}

a {
    text-decoration: none;
}

body {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    background-color: var(--black-color);
}

.header__wrapper {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    margin: 0 41px 0 0;
}

.header__menu-button {
    border: none;
    background-color: transparent;
}

.header__link {
    margin: 0 0 0 33px;
}

.header__link-position {
    position: relative;
}

.header__cartlist {
    position: absolute;
    right: -10px;
    top: -22px;
}

.header__navigation {}

.brand {
    display: flex;
    position: relative;
}

.brand__wrapper {
    display: flex;
    width: 100%;
    min-height: 100%;
}



.brand__image {}

.brand__heading-wrapper {
    background-color: var(--pink-color);
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;


}

.brand__heading--text:before {
    content: "";
    background-color: var(--darkpink-color);
    width: 12px;
    height: 92px;
    position: absolute;
    top: -10px;
    left: -30px;
}

.brand__heading {
    font-size: 48px;
    font-weight: 900;
    line-height: 38.4px;
    text-transform: uppercase;
    position: relative;

}

.brand__heading--text {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
}

.brand__heading-text-pink {
    color: var(--darkpink-color);
}

.stocks__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 64px;
}

.stocks__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.stocks__item-text {
    color: var(--white-color);
    font-size: 16px;
    line-height: 19px;
}

.stocks__item-header {
    color: var(--darkpink-color);
    font-size: 24px;
    line-height: 28.8px;
}

.stocks__item--woman {
    background-image: url(../imgs/art1.jpg);
}

.stocks__item--man {
    background-image: url(../imgs/art2.jpg);
    /*man.jpg*/
}

.stocks__item--kids {
    background-image: url(../imgs/art3.jpg);
    /*kids.jpg*/
}

.stocks__item--accessories {
    width: 100%;
    background-image: url(../imgs/art4.jpg);
    margin-top: 30px;
    /*accessories.jpg*/
}

.products {}

.products__wrap-heading {
    width: 336px;
    text-align: center;
    margin: 0 auto;
    margin-top: 97px;
}

.products__heading-heading {
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    font-weight: 400;
}

.products__heading-text {
    margin-top: 6px;
    color: #9f9f9f;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 18px;
}

.products__item {
    min-height: 420px;
    width: 360px;
    background-color: #f8f8f8;
    margin-top: 30px;
    position: relative;
}


.products__item-heading {
    padding: 25px 0 0 18px;
}

.products__item-text {
    color: #5d5d5d;
    padding: 12.65px 0 0 18px;
    width: 320px;
}

.products__item-text-pink {
    color: var(--darkpink-color);
    padding: 18px 0 20px 18px;

    font-size: 16px;
    line-height: 19px;
}

.products__link {
    border: 1px solid var(--darkpink-color);
    display: flex;
    margin: 0 auto;
    width: 211px;
    align-items: center;
    justify-content: center;
    min-height: 47px;
    margin-top: 48.5px;
    color: var(--darkpink-color);
    font-size: 16px;
    line-height: 19px;
}

.features {
    margin-top: 95.5px;
    background-color: #222224;
    min-height: 341px;

    display: flex;
}

.features__heading {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.features__list {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.features__item {
    color: var(--white-color);

    width: 320px;
}

.features__item-heading {
    margin-top: 26px;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
}

.features__item-text {
    margin-top: 16px;
    font-size: 13.972px;
    line-height: 17px;
}

.footer {
    background-image: url(../imgs/background-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    min-height: 448px;
}

.footer__wrap {
    min-height: 448px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__quote {
    text-align: center;
    width: 360px;
}

.footer__quote-heading {}

.footer__quote-img {}

.footer__quote-text {
    margin-top: 32px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.footer__subscribe {
    text-align: center;
    padding-right: 100px;

}

.footer__subscribe-heading {
    font-size: 24px;
    line-height: 167.2%;
    text-transform: uppercase;
    font-weight: bold;
}



.footer__subscribe-text {
    font-size: 18px;

}

.footer__subscribe-form {
    display: flex;
    padding-top: 32px;



}

.subscribe__form-area {
    height: 50px;
    width: 270px;
    box-sizing: border-box;
    background-color: #E1E1E1;
    border: none;
    border-radius: 50px 0 0 50px;
    padding-left: 22px;
    outline: none;
    font-size: 14px;
}



.subscribe__form-button {
    width: 90px;
    height: 50px;
    border-radius: 0 50px 50px 0;
    background-color: var(--darkpink-color);
    border: none;
    color: var(--white-color);

}

.footer__info {
    background-color: var(--black-color);
}

.footer__info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;
}

.visually-hidden {}

.footer__info-copy {
    color: var(--white-color);
}

.footer__socials-list {
    display: flex;
}

.footer__socials-item {
    margin-left: 7.29px;
}