a {
    text-decoration: none;
}

body {
    font-family: "Lato";
    @include font();
}

button {
    font-family: "Lato";
}

.container {
    width: 71%;
    margin: 0 auto;
}

.visually-hidden {
    @include visual-hidden();
}

@media (max-width: $max-tablet-width) {
    .container {
        width: 90.7%;
    }
}

@media (max-width: $max-mobile-width) {
    .container {
        width: 92%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1599px) {
    .container--tablet {
        width: 97.5%;
    }
}

@media (max-width: $max-mobile-width) {
    .container--mobile {
        width: 95%;
    }
}