html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-light.woff2) format("woff2"), url(../fonts/lato-light.woff) format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url(/fonts/lato-lightitalic.woff2) format("wolf2"), url(/fonts/lato-lightitalic.woff) format("wolf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url(/fonts/lato-regular.woff2) format("wolf2"), url(/fonts/lato-regular.woff) format("wolf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url(/fonts/lato-bold.woff2) format("wolf2"), url(/fonts/lato-bold.woff) format("wolf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url(/fonts/lato-black.woff2) format("wolf2"), url(/fonts/lato-black.woff) format("wolf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

button {
  font-family: "Lato";
}

.container-main {
  width: 71%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (max-width: 1599px) {
  .container-main {
    width: 90.7%;
  }
}

@media (max-width: 767px) {
  .container-main {
    width: 92%;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1599px) {
  .container--tablet {
    width: 95%;
  }
}

@media (max-width: 767px) {
  .container--mobile {
    width: 95%;
  }
}

@media (max-width: 1599px) {
  .container--tablet-catalog {
    width: 98%;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .container--tablet-index {
    width: 79%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
  .container--tablet-index {
    width: 98%;
  }
}

button {
  cursor: pointer;
  cursor: hand;
}

.header {
  background-color: #222222;
}

.header .header__wrapper {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__logo {
  margin: 0 41px 0 0;
}

.header .header__menu-button {
  border: none;
  background-color: transparent;
}

.header .header__link {
  margin: 0 0 0 33px;
}

@media (max-width: 767px) {
  .header .header__link {
    display: none;
  }
}

.header .header__link-position {
  position: relative;
}

.header .header__cartlist {
  position: absolute;
  right: -10px;
  top: -22px;
}

.header .header__cartlist-counter {
  position: absolute;
  color: white;
  top: -22px;
  right: -7px;
  font-size: 12px;
  margin-right: 1px;
}

.header .header__wrapper-wrap {
  display: flex;
}

.header .header__wrapper-search {
  display: flex;
}

.header .search-form__button {
  border: 0;
  background: transparent;
}

.header .header__loupe {
  width: 37px;
  height: 32px;
}

.header .search-form__input {
  width: 250px;
  height: 40px;
  padding-left: 10px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.header__navigation-none {
  display: none;
}

.header__navigation-block {
  width: 232px;
  min-height: 765px;
  position: absolute;
  right: 0px;
  top: 75px;
  background-color: #FBFBFB;
  z-index: 3;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

@media (max-width: 1599px) {
  .header__navigation-block {
    width: 100%;
    min-height: 320px;
  }
}

@media (max-width: 767px) {
  .header__navigation-block {
    min-height: auto;
  }
}

.header__navigation-block .header__navigation-title {
  display: inline-block;
  text-transform: uppercase;
  margin: 37px 0 0 34px;
}

@media (max-width: 767px) {
  .header__navigation-block .header__navigation-title {
    margin: 10px 0 0 14px;
  }
}

@media (max-width: 1599px) {
  .header__navigation-block .header__navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.header__navigation-block .header__navigation-item {
  margin: 24px 0 0 34px;
}

@media (max-width: 767px) {
  .header__navigation-block .header__navigation-item {
    margin: 24px 0 50px 15px;
  }
}

.header__navigation-block .navigation-item__link {
  color: #F16D7F;
  text-transform: uppercase;
}

.header__navigation-block .navigation-item__sublist {
  font-size: 14px;
  line-height: 27px;
  font-weight: 300px;
  font-style: normal;
  padding-left: 22px;
  padding-top: 10px;
}

@media (max-width: 1599px) {
  .header__navigation-block .navigation-item__sublist {
    margin-right: 10px;
    padding: 0;
  }
}

.header__navigation-block .navigation-item__sublist-link {
  color: #6F6E6E;
  line-height: 28px;
}

.header__navigation-block .header__navigation-button {
  border: none;
  background-color: #FBFBFB;
  position: absolute;
  right: 11px;
  top: 16px;
}

.brand__wrapper-animtation:before {
  content: "";
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 1;
}

.brand {
  display: flex;
  position: relative;
}

.brand .brand__wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
}

.brand .brand__image {
  width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  .brand .brand__image {
    display: none;
  }
}

.brand .brand__heading-wrapper {
  background-color: #F1E4E6;
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1599px) {
  .brand .brand__heading-wrapper {
    padding: 0 0 0 69px;
  }
}

@media (max-width: 767px) {
  .brand .brand__heading-wrapper {
    padding: 0 56px 0 83px;
    min-height: 363px;
    justify-content: center;
  }
}

.brand .brand__heading-text:before {
  content: "";
  background-color: #F16D7F;
  width: 12px;
  height: 92px;
  position: absolute;
  top: -12px;
  left: -25px;
}

@media (max-width: 1599px) {
  .brand .brand__heading-text:before {
    top: -20px;
  }
}

@media (max-width: 767px) {
  .brand .brand__heading-text:before {
    height: 61px;
    top: -15px;
  }
}

.brand .brand__heading {
  font-size: 48px;
  line-height: 28.4px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 1599px) {
  .brand .brand__heading {
    font-size: 44px;
    line-height: 23px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand .brand__heading {
    font-size: 38px;
    line-height: 13px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand .brand__heading-text {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1599px) {
  .brand .brand__heading-text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand .brand__heading-text {
    font-size: 20px;
    line-height: 19px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand .brand__heading-text-pink {
  color: #F16D7F;
}

.stocks .stocks__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 64px;
}

.stocks .stocks__item {
  width: 31%;
  min-height: 260px;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1599px) {
  .stocks .stocks__item {
    min-height: 167px;
  }
}

@media (max-width: 767px) {
  .stocks .stocks__item {
    width: 100%;
    min-height: 248px;
    margin-top: 32px;
  }
}

.stocks .stocks__item--woman {
  background-image: url(../imgs/art1.jpg);
  background-position: center center;
}

.stocks .stocks__item--man {
  background-image: url(../imgs/art2.jpg);
  background-position: center center;
}

.stocks .stocks__item--kids {
  background-image: url(../imgs/art3.jpg);
  background-position: center center;
}

.stocks .stocks__item--accessories {
  width: 100%;
  background-image: url(../imgs/art4.jpg);
  margin-top: 30px;
  background-position: center center;
}

@media (max-width: 1599px) {
  .stocks .stocks__item--accessories {
    min-height: 116px;
    margin-top: 19.38px;
  }
}

@media (max-width: 767px) {
  .stocks .stocks__item--accessories {
    min-height: 111px;
    margin-top: 32px;
  }
}

.stocks .stocks__item-text {
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
}

.stocks .stocks__item-header {
  color: #F16D7F;
  font-size: 21px;
  line-height: 28.8px;
}

.products .products__wrap-heading {
  width: 336px;
  text-align: center;
  margin: 0 auto;
  margin-top: 97px;
}

@media (max-width: 1599px) {
  .products .products__wrap-heading {
    margin-top: 155px;
  }
}

@media (max-width: 767px) {
  .products .products__wrap-heading {
    margin-top: 64px;
  }
}

.products .products__heading-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
}

.products .products__heading-text {
  margin-top: 6px;
  color: #9f9f9f;
}

.products .products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 18px;
}

@media (max-width: 1599px) {
  .products .products__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.products .products__link {
  border: 1px solid #F16D7F;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 211px;
  min-height: 47px;
  margin-top: 48.5px;
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 1599px) {
  .products .products__link {
    margin-top: 33px;
  }
}

@media (max-width: 767px) {
  .products .products__link {
    margin-top: 41.11px;
  }
}

.products__item {
  min-height: 420px;
  width: 360px;
  background-color: #f8f8f8;
  margin-top: 30px;
  position: relative;
}

.products__item-heading {
  padding: 25px 0 0 18px;
}

.products__item-text {
  color: #5d5d5d;
  padding: 12.65px 0 0 18px;
  width: 320px;
}

.products__item-text-pink {
  color: #F16D7F;
  padding: 18px 0 20px 18px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

.products__item:hover .products__item-button {
  display: block;
}

.products__item-button:before {
  content: url(../imgs/add-cart.svg);
  position: absolute;
  left: 13px;
  top: 7px;
}

.products__item-img-wrapper:before {
  content: "";
  width: 100%;
  min-height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
}

.products__item-img-wrapper:before {
  display: none;
}

.products__item:hover .products__item-img-wrapper:before {
  display: block;
}

.products__item-button {
  position: absolute;
  top: 36%;
  left: 50%;
  border: 2px solid #FBFBFB;
  transform: translate(-50%, -50%);
  background-color: none;
  width: 138px;
  height: 43px;
  color: #FBFBFB;
  padding-left: 42px;
  font-size: 14px;
  line-height: 17px;
  background-image: none;
  background: transparent;
  background-color: transparent;
  display: none;
}

.features {
  margin-top: 95.5px;
  background-color: #222224;
  min-height: 341px;
  display: flex;
}

.features .features__heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.features .features__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

@media (max-width: 1599px) {
  .features .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 310px;
  }
}

@media (max-width: 767px) {
  .features .features__list {
    width: 310px;
  }
}

.features .features__item {
  color: #FBFBFB;
  width: 320px;
  min-height: auto;
}

@media (max-width: 1599px) {
  .features .features__item {
    width: 100%;
    min-height: auto;
    padding-top: 48px;
  }
}

.features .features__item-heading {
  margin-top: 26px;
  font-size: 19.96px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
}

.features .features__item-text {
  margin-top: 16px;
  font-size: 13.972px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 1599px) {
  .features .features__item-text--padding {
    padding-bottom: 64px;
  }
}

@media (max-width: 767px) {
  .features .features__item-text--padding {
    padding-bottom: 81px;
  }
}

.footer {
  background-image: url(../imgs/background-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 448px;
}

.footer .footer__wrap {
  min-height: 448px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1599px) {
  .footer .footer__wrap {
    flex-direction: column;
    padding-top: 53px;
  }
}

.footer .footer__wrap .footer__quote {
  text-align: center;
  max-width: 370px;
}

.footer .footer__wrap .footer__quote-text {
  margin-top: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
}

.footer .footer__subscribe {
  text-align: center;
  padding-right: 100px;
}

@media (max-width: 1599px) {
  .footer .footer__subscribe {
    padding: 48px 0 140px 0;
  }
}

@media (max-width: 767px) {
  .footer .footer__subscribe {
    padding: 59px 0 109px 0;
    max-width: 360px;
  }
}

.footer .footer__subscribe .footer__subscribe-heading {
  font-size: 24px;
  line-height: 167.2%;
  text-transform: uppercase;
  font-weight: bold;
}

.footer .footer__subscribe .footer__subscribe-text {
  font-size: 14px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767px) {
  .footer .footer__subscribe .footer__subscribe-text {
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    font-style: normal;
  }
}

.footer .footer__subscribe .footer__subscribe-form {
  display: flex;
  padding-top: 32px;
}

@media (max-width: 767px) {
  .footer .footer__subscribe .footer__subscribe-form {
    max-width: 100%;
    padding-top: 22px;
  }
}

.footer .footer__subscribe .subscribe-form__area {
  height: 50px;
  width: 270px;
  box-sizing: border-box;
  background-color: #E1E1E1;
  border: none;
  border-radius: 50px 0 0 50px;
  padding-left: 22px;
  outline: none;
  font-size: 14px;
}

@media (max-width: 767px) {
  .footer .footer__subscribe .subscribe-form__area {
    width: 100%;
  }
}

.footer .footer__subscribe .subscribe-form__button {
  width: 90px;
  height: 50px;
  border-radius: 0 50px 50px 0;
  background-color: #F16D7F;
  border: none;
  color: #FBFBFB;
}

@media (max-width: 767px) {
  .footer .footer__subscribe .subscribe-form__button {
    width: 140px;
  }
}

.footer .footer__info {
  background-color: #222222;
}

.footer .footer__info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79px;
}

@media (max-width: 767px) {
  .footer .footer__info-wrap {
    display: flex;
    flex-direction: column-reverse;
    padding: 43px 0 10px 0;
  }
}

.footer .footer__info-copy {
  color: #FBFBFB;
}

.footer .footer__socials-list {
  display: flex;
}

.footer .footer__socials-item {
  margin-left: 7.29px;
}

.registration .heading-block {
  min-height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F8F3F4;
}

@media (max-width: 767px) {
  .registration .heading-block {
    justify-content: center;
  }
}

.registration .heading-block__heading {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  text-transform: uppercase;
}

@media (max-width: 1599px) {
  .registration .registration__block--tablet {
    width: 100%;
  }
}

.registration .registration__block {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (min-width: 767px) and (max-width: 1599px) {
  .registration .registration__block {
    justify-content: space-around;
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  .registration .registration__block {
    flex-direction: column;
    align-items: center;
  }
  .registration .registration__block .registration__block--tablet {
    width: 98%;
  }
}

.registration .registration__block .registration__wrapper {
  max-width: 359px;
}

@media (max-width: 767px) {
  .registration .registration__block .registration__wrapper {
    max-width: 359px;
  }
}

.registration .registration__block .wrapper-form__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

.registration .registration__block .wrapper-form__block-info {
  width: 100%;
  min-height: 45px;
  margin-top: 20px;
  border: 1px solid #A4A4A4;
  padding-left: 17px;
  box-sizing: border-box;
}

.registration .registration__block .radio-wrapper {
  padding: 31.5px 0 35px 0;
}

.registration .registration__block .radio-wrapper__radio {
  display: none;
}

.registration .registration__block .radio-wrapper__label {
  margin: 25px;
  position: relative;
  font-size: 11px;
  line-height: 13px;
}

.registration .registration__block .radio-wrapper__label--tablet {
  display: none;
}

@media (max-width: 1599px) {
  .registration .registration__block .radio-wrapper__label--tablet {
    display: inline;
  }
}

.registration .registration__block .radio-wrapper__label:before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  position: absolute;
  left: -24.6px;
}

.registration .registration__block .radio-wrapper__radio:checked + .radio-wrapper__label:before {
  background-color: #F16D7F;
}

.registration .registration__block .registration__form-text {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding: 15.5px 0 39px 0;
}

.registration .registration__block .registration__form-button {
  width: 167px;
  height: 50px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300px;
  font-style: normal;
  font-family: "Lato", sans-serif;
  background-color: #F16D7F;
  color: #FBFBFB;
  border: none;
  margin-bottom: 96px;
}

@media (max-width: 767px) {
  .registration .registration__block .registration__form-button {
    margin-bottom: 40px;
  }
}

.registration .registration__block .registration__form-button:after {
  content: url(../imgs/arrow.svg);
  padding-left: 15px;
}

.registration .registration__block .registration__block-perks {
  width: 610px;
}

@media (max-width: 1599px) {
  .registration .registration__block .registration__block-perks {
    max-width: 359px;
    min-height: auto;
  }
}

@media (max-width: 767px) {
  .registration .registration__block .registration__block-perks {
    width: auto;
    min-height: auto;
  }
}

.registration .registration__block .perks-heading {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300px;
  font-style: normal;
}

@media (max-width: 1599px) {
  .registration .registration__block .perks-heading {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.registration .registration__block .perks-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300px;
  font-style: normal;
  padding-top: 22px;
}

@media (max-width: 1599px) {
  .registration .registration__block .perks-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    padding: 32px 0 0 5px;
  }
}

@media (max-width: 767px) {
  .registration .registration__block .perks-text {
    padding-left: 0px;
  }
}

.registration .registration__block .perks-list {
  padding-top: 37px;
}

@media (max-width: 1599px) {
  .registration .registration__block .perks-list {
    padding-top: 23px;
  }
}

.registration .registration__block .perks-list__item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300px;
  font-style: normal;
  padding-bottom: 24px;
}

@media (max-width: 1599px) {
  .registration .registration__block .perks-list__item {
    padding-left: 5px;
    padding-bottom: 22px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300px;
    font-style: normal;
  }
  .registration .registration__block .perks-list__item .perks-list__item-span {
    padding-left: 45px;
  }
}

@media (max-width: 767px) {
  .registration .registration__block .perks-list__item {
    padding-left: 0;
    padding-bottom: 18.18px;
  }
}

.registration .registration__block .perks-list__item:before {
  content: url(../imgs/check-mark.svg);
  padding-right: 22px;
}

@media (max-width: 767px) {
  .perks-list__item--padding {
    margin-bottom: 91px;
  }
}

.shopping-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1599px) {
  .shopping-wrapper {
    justify-content: space-around;
    position: relative;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1260px) {
  .shopping-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .shopping-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.shopping-cart .heading-block {
  min-height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F8F3F4;
}

@media (max-width: 767px) {
  .shopping-cart .heading-block {
    justify-content: center;
  }
}

.shopping-cart .heading-block__heading {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.cart-list {
  padding-top: 96px;
}

@media (max-width: 1599px) {
  .cart-list {
    padding-top: 59px;
  }
}

@media (max-width: 767px) {
  .cart-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 39px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1260px) {
  .cart-list .cart-list__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.cart-list .cart-block {
  display: flex;
  width: 652px;
  min-height: 306px;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  padding-bottom: 40px;
}

@media (max-width: 1599px) {
  .cart-list .cart-block {
    width: 750px;
  }
}

@media (max-width: 767px) {
  .cart-list .cart-block {
    filter: drop-shadow(8px 8px 21px rgba(0, 0, 0, 0.13));
    width: 359px;
    min-height: 188px;
    padding-bottom: 32px;
  }
}

.cart-list .cart-img__img {
  width: 262px;
  height: 306px;
}

@media (max-width: 767px) {
  .cart-list .cart-img__img {
    width: 144px;
    height: 188px;
  }
}

.cart-list .cart-block__block-items {
  width: 390px;
  max-height: 490px;
  background-color: #FBFBFB;
  position: relative;
  padding: 22px 0 0 31px;
  box-sizing: border-box;
}

@media (max-width: 1599px) {
  .cart-list .cart-block__block-items {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .cart-list .cart-block__block-items {
    max-width: 215px;
    height: 188px;
    padding: 13.52px 35.26px 0 17px;
  }
}

.cart-list .cart-items__heading-cart {
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  font-style: normal;
  width: 201px;
  padding-bottom: 36px;
}

@media (max-width: 767px) {
  .cart-list .cart-items__heading-cart {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    font-style: normal;
    width: 140px;
    padding-bottom: 20px;
  }
}

.cart-list .cart-items__list-desc {
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 767px) {
  .cart-list .cart-items__list-desc {
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    font-style: normal;
  }
}

.cart-list .desc-items {
  color: #575757;
}

.cart-list .cart-info {
  padding-top: 6px;
}

@media (max-width: 767px) {
  .cart-list .cart-info {
    padding-top: 3.5px;
  }
}

.cart-list .cart-info__value-pink {
  color: #F16D7F;
}

.cart-list .cart-info__value-input {
  border: 1px solid #EAEAEA;
  width: 43.19px;
  height: 24.12px;
  margin-left: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  margin-left: 24px;
  text-align: center;
}

@media (max-width: 767px) {
  .cart-list .cart-info__value-input {
    width: 20px;
    height: 12.04px;
    font-size: 11px;
  }
}

.cart-list .cart-items__button-close {
  position: absolute;
  right: 22px;
  top: 28px;
  border: none;
  background-color: #FBFBFB;
}

@media (max-width: 767px) {
  .cart-list .cart-items__button-close {
    top: 16.52px;
    right: 5px;
  }
}

.cart-list .cart-list__button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 128px;
  width: auto;
}

@media only screen and (min-width: 767px) and (max-width: 1260px) {
  .cart-list .cart-list__button-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 65px;
  }
}

@media (max-width: 767px) {
  .cart-list .cart-list__button-wrapper {
    width: 100%;
    padding-bottom: 48.5px;
    padding-top: 0;
  }
}

.cart-list .cart-clear-button {
  width: 235px;
  height: 50px;
  background-color: white;
  border: 1px solid #A4A4A4;
  margin-right: 40px;
  text-transform: uppercase;
  color: #575757;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 767px) {
  .cart-list .cart-clear-button {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    font-style: normal;
    width: 174px;
    height: 33px;
    margin-right: 10px;
    text-transform: none;
  }
}

.cart-list .cart-continue-button {
  width: 225px;
  height: 50px;
  color: #575757;
  background-color: white;
  border: 1px solid #A4A4A4;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 767px) {
  .cart-list .cart-continue-button {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    font-style: normal;
    width: 174px;
    height: 33px;
    text-transform: none;
  }
}

.delivery {
  padding: 113px;
  width: 359px;
}

@media only screen and (min-width: 1259px) and (max-width: 1599px) {
  .delivery {
    padding: 113px 0 113px 113px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1259px) {
  .delivery {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .delivery {
    padding: 0;
  }
}

.delivery .delivery-wrapper__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

.delivery .delivery-wrapper__block-info {
  width: 358px;
  min-height: 45px;
  margin-top: 20px;
  border: 1px solid #A4A4A4;
  padding-left: 17px;
  box-sizing: border-box;
}

.delivery .checkout-delivery {
  background-color: #F5F3F3;
  width: 358px;
  height: 214px;
  margin-top: 57.5px;
  position: relative;
  text-align: right;
}

@media only screen and (min-width: 768px) and (max-width: 1260px) {
  .delivery .checkout-delivery {
    flex-wrap: wrap;
    position: absolute;
    bottom: 149px;
    right: 0;
  }
}

@media (max-width: 767px) {
  .delivery .checkout-delivery {
    margin-bottom: 96px;
    padding: 0;
    position: relative;
  }
}

.delivery .delivery__form-button {
  border: 1px solid #A4A4A4;
  width: 100.39px;
  height: 34px;
  background: none;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  color: #A4A4A4;
  margin-top: 24px;
}

@media only screen and (min-width: 768px) and (max-width: 1260px) {
  .delivery .delivery__form-button {
    margin-bottom: 129px;
  }
}

@media (max-width: 767px) {
  .delivery .delivery__form-button {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    color: #575757;
  }
}

.delivery .sub-price {
  font-size: 11px;
  line-height: 13px;
  font-weight: normal;
  font-style: normal;
  padding: 39px 34px 12px;
}

.delivery .sub-price__text {
  padding-right: 20px;
  font-weight: 400;
  color: #A4A4A4;
}

.delivery .sub-price__value {
  color: #A4A4A4;
}

.delivery .total-price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  padding: 0 37px 13px;
}

.delivery .total-price__text {
  padding-right: 18px;
  color: #A4A4A4;
}

.delivery .total-price__value-pink {
  color: #F16D7F;
  font-weight: 700;
}

.delivery .hr {
  border: 0;
  border-bottom: 3px solid #e2e2e2;
  width: 275px;
}

.delivery .delivery__button-checkout {
  width: 274px;
  height: 50px;
  background-color: #F16D7F;
  border: none;
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  position: absolute;
  left: 44px;
  bottom: 42px;
}

.product .heading-block {
  min-height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F8F3F4;
}

@media (max-width: 767px) {
  .product .heading-block {
    flex-direction: column;
    justify-content: center;
  }
}

.product .heading-block__heading {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .product .heading-block__heading {
    padding-bottom: 32px;
  }
}

.product .product__breadcrum-list {
  margin-bottom: 0;
  padding-bottom: 16px;
}

.product .breadcrumb-item__item-link {
  color: #636363;
}

.product .breadcrumb-item__item-link:hover {
  color: #F16D7F;
}

.product .active-pink {
  color: #F16D7F;
  font-weight: 600;
}

.product__slider {
  background-color: #F7F7F7;
  position: relative;
}

.product__slider .carousel-inner-center {
  text-align: center;
}

.product__slider .product__slider-item {
  width: 31%;
}

@media (max-width: 1599px) {
  .product__slider .product__slider-item {
    width: 61%;
  }
}

@media (max-width: 767px) {
  .product__slider .product__slider-item {
    width: 100%;
  }
}

.product__slider .icon-color {
  background: rgba(42, 42, 42, 0.15);
}

.product__slider .icon-pos-left {
  justify-content: flex-start;
}

.product__slider .icon-pos-right {
  justify-content: flex-end;
}

.product__slider .prev-icon,
.product__slider .next-icon {
  background-color: rgba(42, 42, 42, 0.15);
}

.product__slider .next-icon {
  background-image: url("../imgs/slider-right.svg");
  width: 47px;
  height: 47px;
}

.product__slider .prev-icon {
  background-image: url("../imgs/slider-left.svg");
  width: 47px;
  height: 47px;
}

.products-container-bootstrap-fix {
  width: 71%;
  margin: 0 auto;
  padding-bottom: 128px;
}

@media only screen and (min-width: 1251px) and (max-width: 1599px) {
  .products-container-bootstrap-fix {
    width: 90.7%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .products-container-bootstrap-fix {
    width: 98%;
  }
}

@media (max-width: 767px) {
  .products-container-bootstrap-fix {
    width: 50%;
    padding-bottom: 64px;
  }
}

.products .products__list--product {
  justify-content: space-between;
  margin-top: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .products .products__list--product {
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .products .products__list--product {
    justify-content: center;
  }
}

@media only screen and (max-width: 1250px) and (min-width: 767px) {
  .products .products__item--tablet-none-girl {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .products .products__item--tablet-none-man {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .products .products__item--tablet-none-man-catalog {
    display: none;
  }
}

.products .products__list-catalog-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1599px) {
  .products .products__list-catalog-grid {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .products .products__list-catalog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .products .products__list-catalog-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product__meta {
  padding-bottom: 130px;
}

@media (max-width: 767px) {
  .product__meta {
    padding-bottom: 44px;
  }
}

.product__meta .product__meta-wrapper {
  width: 71%;
  min-height: 601px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #EAEAEA;
  margin-top: -36px;
  background: #FFFFFF;
  z-index: 2;
  position: sticky;
}

@media only screen and (min-width: 768px) and (max-width: 1599px) {
  .product__meta .product__meta-wrapper {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .product__meta .product__meta-wrapper {
    margin-top: 0;
    width: 100%;
  }
}

.product__meta .meta-items__heading-name {
  font-size: normal;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  padding-top: 64px;
}

.product__meta .meta-items__heading-hr {
  width: 63px;
  margin: 0 auto;
  border-bottom: 3px solid #F16D7F;
  opacity: 100%;
  margin: 12px auto 12px auto;
}

.product__meta .meta-items__heading-subname {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
}

.product__meta .meta-items__text {
  max-width: 555px;
  margin: 0 auto;
  padding-top: 49px;
}

@media (max-width: 767px) {
  .product__meta .meta-items__text {
    width: 87%;
  }
}

.product__meta .meta-items__price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  padding-top: 32.27px;
  padding-bottom: 65px;
}

@media (max-width: 767px) {
  .product__meta .meta-items__price {
    padding-bottom: 32px;
  }
}

.product__meta .meta-items__hr {
  width: 60%;
  margin: 0 auto;
  opacity: 9%;
  margin-bottom: 65px;
}

@media (max-width: 767px) {
  .product__meta .meta-items__hr {
    margin-bottom: 50px;
    width: 46.6%;
  }
}

.product__meta .meta-items__hr:not([size]) {
  height: 2px;
}

.product__meta .meta-items__button {
  border: 2px solid #F16D7F;
  background-color: none;
  width: 211px;
  height: 47.4px;
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  font-style: normal;
  background-image: none;
  background: transparent;
  background-color: transparent;
  position: relative;
  padding-left: 35px;
  margin-top: 49px;
}

@media (max-width: 767px) {
  .product__meta .meta-items__button {
    margin-top: 65px;
  }
}

.product__meta .meta-items__button:before {
  content: url(../imgs/products-cart.svg);
  position: absolute;
  left: 40px;
  top: 10px;
}

@media (max-width: 767px) {
  .product__meta .meta-items__text-br--desktop {
    display: none;
  }
}

.meta-items__list {
  margin: 0 auto;
  max-width: 353px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .meta-items__list {
    justify-content: space-around;
  }
}

.meta-names-list-catalog-padding {
  padding-right: 90px;
}

.meta-names-list__item {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  color: #6F6E6E;
  position: relative;
}

@media (max-width: 767px) {
  .meta-names-list__item {
    font-size: 10px;
    line-height: 12px;
    font-weight: normal;
    font-style: normal;
  }
}

.meta-names-list__item::after {
  content: url(/imgs/product-meta-arrow.jpg);
  position: absolute;
  right: -20px;
}

.catalog-page-navigation {
  padding-top: 45px;
}

.pagination {
  justify-content: space-between;
  align-items: center;
  border: 1px solid #EBEBEB;
  border-radius: .25rem;
  width: 283px;
  height: 43px;
  margin: 0 auto;
}

.page-link {
  border: none;
  color: #EBEBEB;
  padding: 6px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

.page-item-value {
  margin-left: -10px;
}

.page-link-value {
  padding: 6px 0;
}

.page-link-img {
  margin-top: 5px;
  width: 10px;
  margin-left: 8px;
  margin-right: 8px;
}

.accordion-block {
  box-sizing: border-box;
  width: 365px;
  min-height: 532px;
  display: block;
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 0px;
  background-color: white;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 13px 16px 0 20px;
}

@media (max-width: 1599px) {
  .accordion-block {
    top: 20px;
    left: -5px;
  }
}

@media (max-width: 767px) {
  .accordion-block {
    width: 100%;
  }
}

.accordion-none {
  display: none;
}

.accordion-button::after {
  background-image: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  color: #F16D7F;
  box-shadow: none;
  border-bottom: 1px solid #EBEBEB;
}

.accordion-button::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 10px;
  width: 5px;
  height: 37px;
  background-color: #F16D7F;
}

.poduct-navigation-filter {
  position: relative;
}

.accordion-body {
  font-size: 16px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  padding: 0 0 20px 16px;
}

.accordion-body__categoty {
  padding-top: 15px;
}

.accordion-item {
  border: none;
}

.accordion-button {
  padding: 15px 15px 10px 15px;
  border-bottom: 1px solid #EBEBEB;
}

.poduct-navigation-filter {
  padding-top: 51px;
}

@media (max-width: 1599px) {
  .poduct-navigation-filter {
    padding-top: 22px;
  }
}

.filter-litem__text {
  font-weight: 600;
  margin-right: 11px;
}

@media (max-width: 767px) {
  .filter-litem__text {
    display: none;
  }
}

@media (max-width: 767px) {
  .filter-litem__img {
    width: 37.5px;
  }
}

.filter-litem__button {
  background-color: white;
  border: none;
}

.filter-button-sub {
  padding-top: 13px;
}

.filter-litem__button {
  padding: 0;
  padding-bottom: 5px;
  display: inline;
}

.filter-litem__text-modal {
  color: #F16D7F;
}

@media (max-width: 1599px) {
  .filter-litem {
    display: flex;
    justify-content: space-between;
  }
}

.filter-nav {
  display: inline-block;
  width: 81%;
  text-align: center;
}

@media (max-width: 1599px) {
  .filter-nav {
    display: inline;
    width: auto;
  }
}

.dropdown-nav {
  display: inline;
}

.dropdown-toggle {
  border: none;
  background: white;
  padding: 0;
  color: #6F6E6E;
  position: relative !important;
}

@media (max-width: 767px) {
  .dropdown-toggle {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    font-style: normal;
  }
}

.dropdown-nav {
  padding-left: 25px;
}

.dropdown-toggle::after {
  content: url(../imgs/product-meta-arrow.jpg);
  border: none;
  margin-left: 5px;
  vertical-align: 1px;
}

.dropdown-menu {
  min-width: 103px;
  min-height: 103px;
  padding: 15px 10px 10px 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
  border-radius: 0;
  border: none;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.dropdown-menu__item {
  padding-bottom: 10px;
}

.dropdown-menu__label {
  padding-left: 5px;
  color: #6F6E6E;
}

.overlay {
  background-color: #00000055;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 11;
}

.attention-block {
  background-color: white;
  height: 100px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 40px;
}

.attention-block__text {
  font-size: 15pt;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.attention-block__wrap {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.attention-block__wrap-button {
  margin-top: 30px;
  width: 225px;
  height: 50px;
  background-color: white;
  border: 1px solid #A4A4A4;
  text-transform: uppercase;
}

.button-pink {
  background-color: #F16D7F;
  color: white;
  border: none;
  margin-right: 30px;
  border: 1px solid #F16D7F;
}
/*# sourceMappingURL=style.css.map */