.header {
    background-color: $black-color;


    .header__wrapper {
        min-height: 75px;
        @include flex-center-space-between();
    }

    .header__logo {
        margin: 0 41px 0 0;
    }

    .header__menu-button {
        border: none;
        background-color: transparent;
    }

    .header__link {
        margin: 0 0 0 33px;

        @include mobile {
            display: none;
        }
    }

    .header__link-position {
        position: relative;
    }

    .header__cartlist {
        position: absolute;
        right: -10px;
        top: -22px;
    }
}