.products {
    .products__wrap-heading {
        width: 336px;
        text-align: center;
        margin: 0 auto;
        margin-top: 97px;

        @include tablet {
            margin-top: 155px
        }

        @include mobile {
            margin-top: 64px
        }
    }

    .products__heading-heading {
        @include font(30px, 36px, 400, normal)
    }

    .products__heading-text {
        margin-top: 6px;
        color: #9f9f9f;
    }

    .products__list {
        @include flex-wrap-space-between();
        margin-top: 18px;

        @include tablet {
            @include flex-wrap-space-around();
        }
    }

    .products__item {
        min-height: 420px;
        width: 360px;
        background-color: #f8f8f8;
        margin-top: 30px;
        position: relative;
    }

    .products__item-heading {
        padding: 25px 0 0 18px;
    }

    .products__item-text {
        color: #5d5d5d;
        padding: 12.65px 0 0 18px;
        width: 320px;
    }

    .products__item-text-pink {
        color: $darkpink-color;
        padding: 18px 0 20px 18px;
        @include font(16px, 19px, 300, normal);
    }

    .products__link {
        border: 1px solid $darkpink-color;
        @include flex-center();
        margin: 0 auto;
        width: 211px;
        min-height: 47px;
        margin-top: 48.5px;
        color: $darkpink-color;
        @include font(16px, 19px, 300, normal);

        @include tablet {
            margin-top: 33px;
        }

        @include mobile {
            margin-top: 41.11px;
        }
    }
}